/** Background Color **/
.choose-language > a:hover,
.popup-client > span,
.inner-content > span,
.post-detail a.post-cat,
.vehicul-post-detail a.vehicul-more,
.social-btns > li::before,
.social-btns > li:hover > a,
.heading1 > h2::before,
.subscribe_widget button,
.pagination > li:hover > a:before,
.pagination > li.active > a:before,
.heading2 h3::before,.heading2 h2::before,
.search_widget > form button,
.category_widget > ul li:hover > a:before,
.flat-btn,
.lsting-agents-info > i.fa,
.service > h3::before,
.step-info > span::before,
.heading4::after,
.square-services:hover .square-infos > a,
.mini-service-info li > i,
.our-clients-sec .owl-nav > div:hover,
.feature-list > i,
.texty-style > h3::before,
.service-simple > i,
.service-simple::before,
.fun-fact > i,
.branch-detail > a,
.contact-lists-sec li > i,
.faq-form button,
.close-popup,
.menu nav > ul > li:hover,
.agents-carousal-sec .owl-nav > div:hover,
.post-style2:hover > span::before,
.social_widget > a:hover,
.bg-color,
.vehiculs-thumb a.add-to-cart,
.price-button a,
.owl-dots > .owl-dot.active,
.cart-thumb > a.delete-cart,
.c-input-number > span input.userincr-btn-dec,
.c-input-number > span input.userincr-btn-inc,
.single-vehiculs-infos a.flat-btn.add_to_cart
{
    /*background-color: #ff2929;*/
    background-color: #4db3a5;

}


/** Background Color **/
.contact-item > li > i,
.logo > a > i,
.post-detail > span i,
.post-admin span i,.vehicul-agent span i,
.about_widget > span > i,
.links_widget li > a:hover,
.links_widget li > a:hover i,
.subscribe_widget form label i,
.bottom-line span a,
.pagination > li.active > a,
.pagination > li.active > a:hover,
.pagination > li.active > a:focus,
.admin_detail > span,
.category_widget > ul li:hover,
.category_widget > ul li:hover a,
blockquote span a,
.post-tags > span i,
.post-style2 > span a,
.lsting-agents-info h3 > i,
.search-result h3 i,
.service > i,
.square-infos > i,
.square-infos > a,
.subscribe-box > i,
.mini-service-info > h3 > i,
.mini-service-info > span,
.texty-style > i,
.who-we-are-sec > h3 span,
.ceo-message > span,
.error-not-found h3,
.contact-infos > ul > li > span > i,
.countdown > li p,
#toggle-widget > h2.active,
.registration-sec form > label a,
.color-text,
.flat-btn:hover,
.post-style2 > h3:hover > a,
.bottom-line ul li > a:hover,
.post-detail > h2:hover,
.post-detail a.post-cat:hover,
.vehicul-post-detail a.vehicul-more:hover,
.branch-detail > a:hover,
.popup-client > span:hover,
.title-infos > a,
.vehiculs-box span.price,
.vehiculs-text-bar > h3 span,
.price-area > i,
.field > label span,
.price-cart-item span,
.single-vehiculs-infos .rating  span,
.thanks-message > span i,
.features > li > i {
    color: #ff2929;
}

/** Background Color **/
.heading4::before,
.square-infos > a,
.flat-btn:hover,
.price-table:hover,
.features > li > i
{
    border-color: #ff2929;
}